@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";


.basic-green {
  background-color: #041B1B;
}

.aside {
  background-color: #181D28;
}

.sub-menu {
  @apply border-2 border-green-700 flex p-2 w-1/5 rounded-xl items-center text-green-700 bg-white dark:bg-gray-900 dark:text-white;
  transition: transform 0.3s ease-in-out;
}

.sub-menu:hover {
  @apply bg-gray-100 dark:bg-green-700 dark:text-white;
  transform: scale(1.05);
}
  
.sub-menu img {
  @apply inline-block w-8 h-8 m-1 rounded-full;
}

/* Card container */
.card {
  @apply rounded-lg overflow-hidden w-80 mb-8 border border-gray-200 dark:border-gray-700;
}

/* Card header */
.card-header {
  @apply p-4 flex items-center bg-gray-300 dark:bg-gray-800;
}

/* Card header text */
.card-header-text {
  @apply text-lg font-bold dark:text-white;
}

/* Card body */
.card-body {
  @apply p-4 bg-white dark:bg-gray-900;
}

/* Card body text */
.card-body-text {
  @apply text-lg font-bold dark:text-white;
}

/* Card footer */
.card-footer {
  @apply flex items-center border-b border-gray-300 py-2 dark:text-white dark:border-gray-700;
}

/* Card footer text */
.card-footer-text {
  @apply text-xl font-bold dark:text-white;
}

.clip-path-custom {
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}