@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";


.basic-green {
  background-color: #041B1B;
}

.secondary-500 {
  background-color: #0D1018;
}

/* Aside */
.aside {
  @apply bg-gray-300 p-4 rounded-2xl dark:bg-[#181D28];
}

.aside-logo {
  @apply inline-block w-6 h-6 mr-2 rounded-full bg-center;
}

.aside-header-text {
  @apply text-xl font-bold text-[#15AF15] mb-4;
}

.aside-item {
  @apply flex items-center space-x-2 px-3 py-2 rounded-xl text-gray-900;
}

.aside-item:hover {
  @apply bg-gradient-to-l from-green-200 to-green-500;
  transform: scale(1.05);
}

.aside-item-text {
  @apply font-medium text-sm text-gray-900 dark:text-white;
}

.aside-footer {
  @apply flex items-end justify-end text-right pb-0 mb-0;
  color: #15AF15;
}
/* Aside End */

/* Article */
.aside-article-list {
  @apply mt-4 space-y-4;
}

.aside-article-item {
  @apply flex items-center space-x-3;
}

.aside-article-image {
  @apply w-12 h-12 rounded-md object-cover;
}

.aside-article-title {
  @apply text-gray-900 dark:text-white text-sm font-semibold;
}

.aside-article-date {
  @apply dark:text-gray-400 text-gray-600 text-xs;
}
/* Artiicle End */

/* Match Center Sub Menu */
.sub-menu {
  @apply border-2 border-green-700 flex p-2 w-1/5 rounded-xl items-center text-green-700 bg-white dark:bg-gray-900 dark:text-white;
  transition: transform 0.3s ease-in-out;
}

.sub-menu:hover {
  @apply bg-gray-100 dark:bg-green-700 dark:text-white;
  transform: scale(1.05);
}
  
.sub-menu img {
  @apply inline-block w-8 h-8 m-1 rounded-full;
}
/* Match Center Sub Menu End */

/* Player Card */
.card {
  @apply rounded-lg overflow-hidden w-80 mb-8 border border-gray-200 dark:border-gray-700;
}

.card-header {
  @apply p-4 flex items-center bg-gray-300 dark:bg-gray-800;
}

.card-header-text {
  @apply text-lg font-bold dark:text-white;
}

.card-body {
  @apply p-4 bg-white dark:bg-gray-900;
}

.card-body-text {
  @apply text-lg font-bold dark:text-white;
}

.card-footer {
  @apply flex items-center border-b border-gray-300 py-2 dark:text-white dark:border-gray-700;
}

.card-footer-text {
  @apply text-xl font-bold dark:text-white;
}
/* Player Card End */

.clip-path-custom {
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}

/* homepage */
.homepage {
  @apply text-white w-full flex flex-col px-4;
}

.home-banner {
  @apply min-w-full h-1/3 object-cover;
}

.match-filters {
  @apply flex justify-between items-center mt-6;
}

.filter-buttons {
  @apply space-x-2;
}

.filter-button {
  @apply bg-green-600 px-7 py-2 border border-green-600 rounded-xl hover:bg-green-700 dark:border-green-600 hover:dark:bg-gray-900;
}

.current-date {
  @apply text-white font-bold bg-green-600 dark:bg-green-600 px-7 py-2 rounded-xl;
}

.match-section {
  @apply w-full flex flex-col mt-6 space-y-3;
}

.section-header {
  @apply py-4;
}

.league-title {
  @apply text-green-600 font-bold text-3xl;
}

.match-card {
  @apply w-full flex flex-auto gap-4;
}

.match-status {
  @apply flex bg-green-600 dark:bg-green-900 p-4 rounded-xl w-1/5 justify-center items-center font-bold font-[Poppins];
}

.match-minute {
  @apply text-red-600 font-bold ml-2;
}

.match-info {
  @apply flex bg-green-600 dark:bg-green-900 p-1 rounded-xl w-full gap-1;
}

.team {
  @apply flex items-center font-bold;
}

.team-left {
  @apply w-1/3 justify-end;
}

.team-right {
  @apply w-1/3 justify-start;
}

.team-logo {
  @apply w-1/5 flex items-center justify-center;
}

.score-box {
  @apply w-1/8 flex items-center justify-center text-center bg-white my-2 rounded-xl text-black font-bold;
}

/* match_stats */
.match-stats {
  @apply flex flex-col m-8 rounded-xl;
}

.match-stats-header {
  @apply flex w-full justify-between mb-3;
}

.team-name-left {
  @apply text-2xl text-green-700 dark:text-white pl-8;
}

.team-name-right {
  @apply text-2xl text-green-700 dark:text-white pr-8;
}

.match-stats-body {
  @apply flex flex-col w-full;
}

.stats-row {
  @apply flex justify-between px-5 py-2;
}

.dark-row {
  @apply bg-[#062D2D] text-[#D0EFD0];
}

.light-row {
  @apply bg-[#D0EFD0] text-[#062D2D];
}

.rounded-top {
  @apply rounded-t-2xl;
}

.rounded-bottom {
  @apply rounded-b-2xl;
}


/*scoreboard*/

.scoreboard-container {
  @apply flex flex-col pb-1 px-1 rounded-2xl items-center w-full justify-between;
  background-color: #062D2D;
  min-height: 47vh;
}

.scoreboard-header {
  @apply w-2/3 h-20 bg-green-700 flex items-center justify-center;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}

.scoreboard-header-text {
  @apply font-bold text-4xl text-white;
}

.scoreboard-body {
  @apply flex text-white w-full p-6 rounded-lg gap-8;
}

.scoreboard-team {
  @apply flex flex-col items-center mb-4 w-3/8;
}

.scoreboard-team-info {
  @apply flex items-center w-full mb-6;
}

.scoreboard-team-reverse {
  @apply flex-row-reverse;
}

.scoreboard-team-name {
  @apply text-xl font-bold w-2/4;
}

.scoreboard-logo {
  @apply w-1/4 flex justify-center items-center;
}

.scoreboard-logo-img {
  @apply w-12 h-12;
}

.scoreboard-score {
  @apply text-4xl font-bold w-1/4 flex;
}

.scoreboard-info {
  @apply flex flex-col text-center items-center w-2/8;
}

.scoreboard-timer {
  @apply bg-red-500 px-4 py-2 rounded-lg text-xl font-bold max-w-36 mb-4;
}

.scoreboard-info-text {
  @apply flex flex-col text-sm gap-1;
}

.scoreboard-status {
  @apply mb-4 font-bold;
}

.scoreboard-date {
  @apply font-bold;
}

.scoreboard-scorers {
  @apply text-sm;
}

.scoreboard-footer {
  @apply bg-[#041B1B] p-4 rounded-b-2xl flex w-full;
}

.scoreboard-footer span {
  @apply text-lg font-semibold text-white;
}

