<div class="flex flex-wrap justify-between w-full">
    <div class="flex flex-col">
        <p class="text-xl font-bold my-5" style="color: #0D690D;"> Top Scorer</p>
        <div class="bg-gray-800 rounded-lg overflow-hidden w-80 mb-8">
            <div class="bg-gray-700 p-4 flex items-center">
                <div class="flex-1 w-1/2">
                    <div class="text-white text-lg font-bold">
                        1
                    </div>
                    <div class="text-white text-lg font-bold">
                        Virgil
                        <br/>
                        Van Dijk
                    </div>
                    <div class="flex items-center mt-2">
                        <img alt="Persib Bandung logo" class="w-5 h-5 mr-2" height="20" src="https://storage.googleapis.com/a1aa/image/RqFX3LcGZc8-nxJK31xfGyDmsrx7z5TlpzyXc27F_1A.jpg" width="20"/>
                    <div class="text-gray-300">
                        Persib Bandung
                    </div>
                    </div>
                    <div class="text-white text-4xl font-bold mt-2">
                        3
                    </div>
                </div>
                <div class="flex w-1/2">
                <img alt="Virgil Van Dijk in a red football jersey" class="w-20 h-28 ml-4 mb-0" src="https://storage.googleapis.com/a1aa/image/hPGnJdOSUCHtTZeXUNecRLFB76oVw8FYHRRmQ6HWnWs.jpg" width="80"/>
                </div>
            </div>
            <div class="bg-white p-4">
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                        2
                    </div>
                    <img alt="Persija Jakarta logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/MOi7Uk1VpSXDKe_ypeCdXf7IMOr2sNbuA9GAyrE6tYI.jpg" width="20"/>
                    <div class="flex-1">
                        <div class="text-gray-800 text-lg font-bold">
                            Muhamed Salah
                        </div>
                        <div class="text-gray-500">
                            Persib Bandung
                        </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                        3
                    </div>
                </div>
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    3
                    </div>
                    <img alt="Arema FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/wjKl3uyY6WRLyqg6a8HoLq22stsx5F2Kfim-0HkewIc.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Erling Haaland
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    2
                    </div>
                </div>
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    4
                    </div>
                    <img alt="Burnley FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/0ows11NgHdp5fuH6KR9nIiri1gHl2-A6_hLD7Oz0CRU.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Chris Wood
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    1
                    </div>
                </div>
                <div class="flex items-center py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    5
                    </div>
                    <img alt="Chelsea FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/3Ra2cGKszPSPpa5y4glQBQwRa3O2ieC23pRNNpYB9zY.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Cole Palmer
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    1
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col">
        <p class="text-xl font-bold my-5" style="color: #0D690D;"> Successful</p>
        <div class="bg-blue-800 rounded-lg overflow-hidden w-80 mb-8">
            <div class="bg-blue-300 p-4 flex items-center">
                <div class="flex-1 w-1/2">
                    <div class="text-white text-lg font-bold">
                        1
                    </div>
                    <div class="text-white text-lg font-bold">
                        Virgil
                        <br/>
                        Van Dijk
                    </div>
                    <div class="flex items-center mt-2">
                        <img alt="Persib Bandung logo" class="w-5 h-5 mr-2" height="20" src="https://storage.googleapis.com/a1aa/image/RqFX3LcGZc8-nxJK31xfGyDmsrx7z5TlpzyXc27F_1A.jpg" width="20"/>
                    <div class="text-gray-300">
                        Persib Bandung
                    </div>
                    </div>
                    <div class="text-white text-4xl font-bold mt-2">
                        3
                    </div>
                </div>
                <div class="flex w-1/2">
                <img alt="Virgil Van Dijk in a red football jersey" class="w-20 h-28 ml-4" height="120" src="https://storage.googleapis.com/a1aa/image/hPGnJdOSUCHtTZeXUNecRLFB76oVw8FYHRRmQ6HWnWs.jpg" width="80"/>
                </div>
            </div>
            <div class="bg-white p-4">
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                        2
                    </div>
                    <img alt="Persija Jakarta logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/MOi7Uk1VpSXDKe_ypeCdXf7IMOr2sNbuA9GAyrE6tYI.jpg" width="20"/>
                    <div class="flex-1">
                        <div class="text-gray-800 text-lg font-bold">
                            Muhamed Salah
                        </div>
                        <div class="text-gray-500">
                            Persib Bandung
                        </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                        3
                    </div>
                </div>
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    3
                    </div>
                    <img alt="Arema FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/wjKl3uyY6WRLyqg6a8HoLq22stsx5F2Kfim-0HkewIc.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Erling Haaland
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    2
                    </div>
                </div>
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    4
                    </div>
                    <img alt="Burnley FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/0ows11NgHdp5fuH6KR9nIiri1gHl2-A6_hLD7Oz0CRU.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Chris Wood
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    1
                    </div>
                </div>
                <div class="flex items-center py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    5
                    </div>
                    <img alt="Chelsea FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/3Ra2cGKszPSPpa5y4glQBQwRa3O2ieC23pRNNpYB9zY.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Cole Palmer
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    1
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col">
        <p class="text-xl font-bold my-5" style="color: #0D690D;"> Saves</p>
        <div class="bg-blue-800 rounded-lg overflow-hidden w-80 mb-8">
            <div class="bg-blue-300 p-4 flex items-center">
                <div class="flex-1 w-1/2">
                    <div class="text-white text-lg font-bold">
                        1
                    </div>
                    <div class="text-white text-lg font-bold">
                        Virgil
                        <br/>
                        Van Dijk
                    </div>
                    <div class="flex items-center mt-2">
                        <img alt="Persib Bandung logo" class="w-5 h-5 mr-2" height="20" src="https://storage.googleapis.com/a1aa/image/RqFX3LcGZc8-nxJK31xfGyDmsrx7z5TlpzyXc27F_1A.jpg" width="20"/>
                    <div class="text-gray-300">
                        Persib Bandung
                    </div>
                    </div>
                    <div class="text-white text-4xl font-bold mt-2">
                        3
                    </div>
                </div>
                <div class="flex w-1/2">
                <img alt="Virgil Van Dijk in a red football jersey" class="w-20 h-28 ml-4" height="120" src="https://storage.googleapis.com/a1aa/image/hPGnJdOSUCHtTZeXUNecRLFB76oVw8FYHRRmQ6HWnWs.jpg" width="80"/>
                </div>
            </div>
            <div class="bg-white p-4">
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                        2
                    </div>
                    <img alt="Persija Jakarta logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/MOi7Uk1VpSXDKe_ypeCdXf7IMOr2sNbuA9GAyrE6tYI.jpg" width="20"/>
                    <div class="flex-1">
                        <div class="text-gray-800 text-lg font-bold">
                            Muhamed Salah
                        </div>
                        <div class="text-gray-500">
                            Persib Bandung
                        </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                        3
                    </div>
                </div>
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    3
                    </div>
                    <img alt="Arema FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/wjKl3uyY6WRLyqg6a8HoLq22stsx5F2Kfim-0HkewIc.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Erling Haaland
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    2
                    </div>
                </div>
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    4
                    </div>
                    <img alt="Burnley FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/0ows11NgHdp5fuH6KR9nIiri1gHl2-A6_hLD7Oz0CRU.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Chris Wood
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    1
                    </div>
                </div>
                <div class="flex items-center py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    5
                    </div>
                    <img alt="Chelsea FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/3Ra2cGKszPSPpa5y4glQBQwRa3O2ieC23pRNNpYB9zY.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Cole Palmer
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    1
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col">
        <p class="text-xl font-bold my-5" style="color: #0D690D;">Assist</p>
        <div class="bg-blue-800 rounded-lg overflow-hidden w-80 mb-8">
            <div class="bg-blue-300 p-4 flex items-center">
                <div class="flex-1 w-1/2">
                    <div class="text-white text-lg font-bold">
                        1
                    </div>
                    <div class="text-white text-lg font-bold">
                        Virgil
                        <br/>
                        Van Dijk
                    </div>
                    <div class="flex items-center mt-2">
                        <img alt="Persib Bandung logo" class="w-5 h-5 mr-2" height="20" src="https://storage.googleapis.com/a1aa/image/RqFX3LcGZc8-nxJK31xfGyDmsrx7z5TlpzyXc27F_1A.jpg" width="20"/>
                    <div class="text-gray-300">
                        Persib Bandung
                    </div>
                    </div>
                    <div class="text-white text-4xl font-bold mt-2">
                        3
                    </div>
                </div>
                <div class="flex w-1/2">
                <img alt="Virgil Van Dijk in a red football jersey" class="w-20 h-28 ml-4" height="120" src="https://storage.googleapis.com/a1aa/image/hPGnJdOSUCHtTZeXUNecRLFB76oVw8FYHRRmQ6HWnWs.jpg" width="80"/>
                </div>
            </div>
            <div class="bg-white p-4">
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                        2
                    </div>
                    <img alt="Persija Jakarta logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/MOi7Uk1VpSXDKe_ypeCdXf7IMOr2sNbuA9GAyrE6tYI.jpg" width="20"/>
                    <div class="flex-1">
                        <div class="text-gray-800 text-lg font-bold">
                            Muhamed Salah
                        </div>
                        <div class="text-gray-500">
                            Persib Bandung
                        </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                        3
                    </div>
                </div>
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    3
                    </div>
                    <img alt="Arema FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/wjKl3uyY6WRLyqg6a8HoLq22stsx5F2Kfim-0HkewIc.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Erling Haaland
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    2
                    </div>
                </div>
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    4
                    </div>
                    <img alt="Burnley FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/0ows11NgHdp5fuH6KR9nIiri1gHl2-A6_hLD7Oz0CRU.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Chris Wood
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    1
                    </div>
                </div>
                <div class="flex items-center py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    5
                    </div>
                    <img alt="Chelsea FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/3Ra2cGKszPSPpa5y4glQBQwRa3O2ieC23pRNNpYB9zY.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Cole Palmer
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    1
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col">
        <p class="text-xl font-bold my-5" style="color: #0D690D;">Cleansheet</p>
        <div class="bg-blue-800 rounded-lg overflow-hidden w-80 mb-8">
            <div class="bg-blue-300 p-4 flex items-center">
                <div class="flex-1 w-1/2">
                    <div class="text-white text-lg font-bold">
                        1
                    </div>
                    <div class="text-white text-lg font-bold">
                        Virgil
                        <br/>
                        Van Dijk
                    </div>
                    <div class="flex items-center mt-2">
                        <img alt="Persib Bandung logo" class="w-5 h-5 mr-2" height="20" src="https://storage.googleapis.com/a1aa/image/RqFX3LcGZc8-nxJK31xfGyDmsrx7z5TlpzyXc27F_1A.jpg" width="20"/>
                    <div class="text-gray-300">
                        Persib Bandung
                    </div>
                    </div>
                    <div class="text-white text-4xl font-bold mt-2">
                        3
                    </div>
                </div>
                <div class="flex w-1/2">
                <img alt="Virgil Van Dijk in a red football jersey" class="w-20 h-28 ml-4" height="120" src="https://storage.googleapis.com/a1aa/image/hPGnJdOSUCHtTZeXUNecRLFB76oVw8FYHRRmQ6HWnWs.jpg" width="80"/>
                </div>
            </div>
            <div class="bg-white p-4">
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                        2
                    </div>
                    <img alt="Persija Jakarta logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/MOi7Uk1VpSXDKe_ypeCdXf7IMOr2sNbuA9GAyrE6tYI.jpg" width="20"/>
                    <div class="flex-1">
                        <div class="text-gray-800 text-lg font-bold">
                            Muhamed Salah
                        </div>
                        <div class="text-gray-500">
                            Persib Bandung
                        </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                        3
                    </div>
                </div>
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    3
                    </div>
                    <img alt="Arema FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/wjKl3uyY6WRLyqg6a8HoLq22stsx5F2Kfim-0HkewIc.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Erling Haaland
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    2
                    </div>
                </div>
                <div class="flex items-center border-b border-gray-300 py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    4
                    </div>
                    <img alt="Burnley FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/0ows11NgHdp5fuH6KR9nIiri1gHl2-A6_hLD7Oz0CRU.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Chris Wood
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    1
                    </div>
                </div>
                <div class="flex items-center py-2">
                    <div class="text-gray-800 text-xl font-bold">
                    5
                    </div>
                    <img alt="Chelsea FC logo" class="w-5 h-5 mx-2" height="20" src="https://storage.googleapis.com/a1aa/image/3Ra2cGKszPSPpa5y4glQBQwRa3O2ieC23pRNNpYB9zY.jpg" width="20"/>
                    <div class="flex-1">
                    <div class="text-gray-800 text-lg font-bold">
                    Cole Palmer
                    </div>
                    <div class="text-gray-500">
                    Persib Bandung
                    </div>
                    </div>
                    <div class="text-gray-800 text-xl font-bold">
                    1
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>