<div class="match-stats">
  <div class="match-stats-header">
    <a class="team-name-left">PERSIB</a>
    <a class="team-name-right">PERSIJA</a>
  </div>

  <div class="match-stats-body">
    <div class="stats-row dark-row rounded-top">
      <span>1</span>
      <span>Goals</span>
      <span>0</span>
    </div>
    <div class="stats-row light-row">
      <span>1</span>
      <span>Shots on Target</span>
      <span>0</span>
    </div>
    <div class="stats-row dark-row">
      <span>1</span>
      <span>Possession(%)</span>
      <span>0</span>
    </div>
    <div class="stats-row light-row">
      <span>1</span>
      <span>Passes</span>
      <span>0</span>
    </div>
    <div class="stats-row dark-row">
      <span>1</span>
      <span>Own Goals</span>
      <span>0</span>
    </div>
    <div class="stats-row light-row">
      <span>1</span>
      <span>Fouls</span>
      <span>0</span>
    </div>
    <div class="stats-row dark-row">
      <span>1</span>
      <span>Yellow Cards</span>
      <span>0</span>
    </div>
    <div class="stats-row light-row rounded-bottom">
      <span>1</span>
      <span>Red Cards</span>
      <span>0</span>
    </div>
  </div>
</div>
