<div class="scoreboard-container">
    <div class="scoreboard-header">
        <span class="scoreboard-header-text">LIGA 1 INDONESIA</span> 
    </div>

    <div class="scoreboard-body">
        <div class="scoreboard-team">
            <div class="scoreboard-team-info">
                <span class="scoreboard-team-name">PERSIB</span>
                <div class="scoreboard-logo">
                <img src="persib_logo.png" alt="Persib Logo" class="scoreboard-logo-img">
                </div>
                <span class="scoreboard-score justify-end items-end">1</span>
            </div>

            <div class="scoreboard-scorers">
                <p>&#x26BD; Sneyder Julián Guevara Muñoz 34'</p>
                <p>&#x26BD; Dalberto Luan Belo 42'</p>
            </div>
        </div>
        
        <div class="flex flex-col text-center items-center w-2/8">
            <div class="bg-red-500 px-4 py-2 rounded-lg text-xl font-bold max-w-36 mb-4">
                45:03:14
            </div>
            <div class="flex flex-col text-sm gap-1">
                <p class="mb-4 font-bold">Half Time</p>
                <p>Kick Off: 19.30</p>
                <p class="font-bold">3 Nov 2024</p>
                <p>Referee: Rio Permana Putra</p>
            </div>
        </div>

        <div class="scoreboard-team">
            <div class="scoreboard-team-info">
                <span class="scoreboard-score items-start">0</span>
                <div class="scoreboard-logo">
                    <img src="arema_logo.png" alt="Arema Logo" class="scoreboard-logo-img">
                </div>
                <span class="flex scoreboard-team-name items-end justify-end">AREMA</span>
            </div>

            <div class="text-right scoreboard-scorers">
                <p>Marko Simic 24' &#x26BD;</p>
                <p>Hanif Abdurrauf Sjahbandi 55' &#x26BD;</p>
            </div>
        </div>
    </div>


    <div class="scoreboard-footer">
        <span>Venue: Stadion Gelora Bung Karno</span>
    </div>
</div>