<div class="flex flex-col p-4 pt-0 rounded-2xl items-center min-h-" style="background-color: #062D2D; min-height: 47vh;">
    <div class="w-2/3 h-20 bg-green-700 clip-path-custom items-center justify-center flex">
        <span class="font-bold text-4xl">LIGA 1 INDONESIA</span>
    </div>



</div>