<div class="flex flex-col p-12 rounded-xl" style="background-color: #181D28;">
        <table class="w-full text-left">
            <thead class="">
                <tr>
                    <th class="p-2">
                        Position
                    </th>
                    <th class="p-2">
                        Club
                    </th>
                    <th class="p-2">
                    Played
                    </th>
                    <th class="p-2">
                    Won
                    </th>
                    <th class="p-2">
                    Drawn
                    </th>
                    <th class="p-2">
                    Lost
                    </th>
                    <th class="p-2">
                    Points
                    </th>
                    <th class="p-2">
                    Form
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="dark:bg-gray-800">
                    <td class="p-2">
                    1
                    <i class="fas fa-caret-up">
                    </i>
                    </td>
                    <td class="p-2 flex items-center">
                    <img alt="Persib Bandung logo" class="mr-2" height="20" src="https://storage.googleapis.com/a1aa/image/RaLMTJ1ny5cBjHo4FtQzTz_xDyyr_V1P7EQth2ICJrY.jpg" width="20"/>
                    Persib Bandung
                    </td>
                    <td class="p-2">
                    13
                    </td>
                    <td class="p-2">
                    11
                    </td>
                    <td class="p-2">
                    1
                    </td>
                    <td class="p-2">
                    1
                    </td>
                    <td class="p-2">
                    34
                    </td>
                    <td class="p-2 flex space-x-1">
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    <span class="dark:bg-red-600 rounded-full w-6 h-6 flex items-center justify-center">
                        L
                    </span>
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    </td>
                </tr>

                <tr class="dark:bg-green-100 dark:text-gray-900">
                    <td class="p-2">
                    2
                    <i class="fas fa-caret-up">
                    </i>
                    </td>
                    <td class="p-2 flex items-center">
                    <img alt="Persija Jakarta logo" class="mr-2" height="20" src="https://storage.googleapis.com/a1aa/image/F1UdS-4JNTDEChAfbPGFq4RblLf5rkW53a6dKZrTPLs.jpg" width="20"/>
                    Persija Jakarta
                    </td>
                    <td class="p-2">
                    13
                    </td>
                    <td class="p-2">
                    7
                    </td>
                    <td class="p-2">
                    4
                    </td>
                    <td class="p-2">
                    2
                    </td>
                    <td class="p-2">
                    25
                    </td>
                    <td class="p-2 flex space-x-1">
                    <span class="dark:bg-gray-400 rounded-full w-6 h-6 flex items-center justify-center">
                        D
                    </span>
                    <span class="dark:bg-red-600 rounded-full w-6 h-6 flex items-center justify-center">
                        L
                    </span>
                    <span class="dark:bg-red-600 rounded-full w-6 h-6 flex items-center justify-center">
                        L
                    </span>
                    <span class="dark:bg-gray-400 rounded-full w-6 h-6 flex items-center justify-center">
                        D
                    </span>
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    </td>
                </tr>
                <tr class="dark:bg-gray-800">
                    <td class="p-2">
                    3
                    <i class="fas fa-caret-down">
                    </i>
                    </td>
                    <td class="p-2 flex items-center">
                    <img alt="AREMA logo" class="mr-2" height="20" src="https://storage.googleapis.com/a1aa/image/jcdb5XGMLJBculhH_1NA74meIOYvge7mPq_5CcJzuTU.jpg" width="20"/>
                    AREMA
                    </td>
                    <td class="p-2">
                    13
                    </td>
                    <td class="p-2">
                    10
                    </td>
                    <td class="p-2">
                    1
                    </td>
                    <td class="p-2">
                    1
                    </td>
                    <td class="p-2">
                    23
                    </td>
                    <td class="p-2 flex space-x-1">
                    <span class="dark:bg-red-600 rounded-full w-6 h-6 flex items-center justify-center">
                        L
                    </span>
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    </td>
                </tr>
                <tr class="dark:bg-green-100 dark:text-gray-900">
                    <td class="p-2">
                    4
                    <i class="fas fa-caret-down">
                    </i>
                    </td>
                    <td class="p-2 flex items-center">
                    <img alt="PSIS Semarang logo" class="mr-2" height="20" src="https://storage.googleapis.com/a1aa/image/1NyBUEjFI4dJxHRLlV5gcIM6gTaV7xUG4_90UvSjIVU.jpg" width="20"/>
                    PSIS Semarang
                    </td>
                    <td class="p-2">
                    13
                    </td>
                    <td class="p-2">
                    6
                    </td>
                    <td class="p-2">
                    5
                    </td>
                    <td class="p-2">
                    2
                    </td>
                    <td class="p-2">
                    23
                    </td>
                    <td class="p-2 flex space-x-1">
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    <span class="dark:bg-gray-400 rounded-full w-6 h-6 flex items-center justify-center">
                        D
                    </span>
                    <span class="dark:bg-red-600 rounded-full w-6 h-6 flex items-center justify-center">
                        L
                    </span>
                    </td>
                </tr>
                <tr class="dark:bg-gray-800">
                    <td class="p-2">
                    5
                    <i class="fas fa-caret-up">
                    </i>
                    </td>
                    <td class="p-2 flex items-center">
                    <img alt="Persipa pati logo" class="mr-2" height="20" src="https://storage.googleapis.com/a1aa/image/Q3Wvl2qUE5UUR5HsTB_LRtgMH_atV-QYEmSMzRIY0BU.jpg" width="20"/>
                    Persipa pati
                    </td>
                    <td class="p-2">
                    12
                    </td>
                    <td class="p-2">
                    10
                    </td>
                    <td class="p-2">
                    1
                    </td>
                    <td class="p-2">
                    1
                    </td>
                    <td class="p-2">
                    22
                    </td>
                    <td class="p-2 flex space-x-1">
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    <span class="dark:bg-green-600 rounded-full w-6 h-6 flex items-center justify-center">
                        W
                    </span>
                    <span class="dark:bg-gray-400 rounded-full w-6 h-6 flex items-center justify-center">
                        D
                    </span>
                    <span class="dark:bg-gray-400 rounded-full w-6 h-6 flex items-center justify-center">
                        D
                    </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>