<div class="flex flex-col w-full h-full px-4">

    <%= render 'data_centers/score_board' %>
    <%= render 'data_centers/sub_menu' %>

    <div class="flex flex-col m-8 rounded-xl">
        <div class="flex w-full justify-between mb-3">
            <a class="text-2xl text-green-700 dark:text-white pl-8">PERSIB</a>
            <a class="text-2xl text-green-700 dark:text-white pr-8">PERSIJA</a>
        </div>
        <div class="flex flex-col w-full ">
            <div class="flex justify-between px-5 py-2 rounded-t-2xl" style="background-color: #062D2D; color: #D0EFD0;">
                <span>1</span>
                <span>Goals</span>
                <span>0</span>
            </div>
            <div class="flex justify-between px-5 py-2" style="background-color: #D0EFD0; color: #062D2D;">
                <span>1</span>
                <span>Shots on Target</span>
                <span>0</span>
            </div>
            <div class="flex justify-between px-5 py-2" style="background-color: #062D2D; color: #D0EFD0;">
                <span>1</span>
                <span>Possession(%)</span>
                <span>0</span>
            </div>
            <div class="flex justify-between px-5 py-2" style="background-color: #D0EFD0; color: #062D2D;">
                <span>1</span>
                <span>Passes</span>
                <span>0</span>
            </div>
            <div class="flex justify-between px-5 py-2" style="background-color: #062D2D; color: #D0EFD0;">
                <span>1</span>
                <span>Own Goals</span>
                <span>0</span>
            </div>
            <div class="flex justify-between px-5 py-2" style="background-color: #D0EFD0; color: #062D2D;">
                <span>1</span>
                <span>Fouls</span>
                <span>0</span>
            </div>
            <div class="flex justify-between px-5 py-2" style="background-color: #062D2D; color: #D0EFD0;">
                <span>1</span>
                <span>Yellow Cards</span>
                <span>0</span>
            </div>
            <div class="flex justify-between px-5 py-2 rounded-b-2xl" style="background-color: #D0EFD0; color: #062D2D;">
                <span>1</span>
                <span>Red Cards</span>
                <span>0</span>
            </div>
        </div>
    </div>
</div>