<div class="flex flex-col w-full h-full px-4">
    <div class="flex">
        
    </div>
    <%= render 'data_centers/score_board' %>
    <%= render 'data_centers/sub_menu' %>
    <%= render 'data_centers/timeline' %>
</div>